.basPage{
	background: black;	
	padding-bottom: 35px;
	padding-top: 35px;
}
.titreBP{
	width: 1000px;
	display:flex;
	justify-content: space-between;
	margin: auto;
}
.article{
	width: 300px;
	color: #a9a9a9;
}
.datesBP ul {
	list-style-type: none;
	color: #a9a9a9;
	margin-left: -40px;
}
time{
	color: #4c4a4a;
	font-size: 0.8em;
}

.titreBP p{
	color: white;
}
hr{
	border-color: #4c4a4a;
	background: black;
	width: 1000px;
	margin-top: 35px;
	margin:auto;
	 
}
#p{
	color:#666363; 
}
