.corpscontact{
	display: flex;
	justify-content: space-between;
}
.searchcontact{
	width: 510px;
}
.identitecontact{
	width: 820px;
}
#commentaire{
	width: 810px;
	height: 300px;
	
}
#chercher{
	width: 500px;
}
hr{
	hr{
    width: 1600px;
    opacity:  0.4;
}