body{
	font-family: 'Open Sans', sans-serif;
}
.menu ul{
	margin:auto;
	margin-top: 50px;
	text-align: center;
}
.menu ul li{
	display: inline;
	padding:20px;
}
.menu ul li a{
	text-decoration: none;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
header{
	height: 400px;
}