@font-face {
font-family: 'Open Sans';
src: url('Open_Sans/OpenSans-SemiBold.ttf');
src: url('Open_Sans/OpenSans-Bold.ttf');
src: url('Open_Sans/OpenSans-Regular.ttf');
src: url('Open_Sans/OpenSans-Light.ttf');
}
body{
    background-repeat: no-repeat;   
    background-color: black;
    background-position-y: -650px;
#container{
	/*padding-left: 140px;
	padding-right: 140px;
	font-family: 'Open Sans', sans serif;
	color: white;
	background-color: black;
	opacity: 0.7;*/

}
.menu ul{
	margin-right:auto;
	margin-left: auto;
	margin-top: 0px;
	padding-top: 50px;
	text-align: center;

}
.menu ul li{
	display: inline;
	margin-left: 50px;
	
}
.menu ul li a{
	text-decoration: none;
	color: #a9a9a9;
}
.menu ul li a:hover{
	color: white;
}
h1{
	text-align: center;
	font-weight: semi OpenSans-SemiBold;
	font-size: 140px;
	color : white;
	margin-top: 50px;

}
h2{
	text-align: center;
	color : white;
	height : 50px;

}
table {
  	border-collapse: collapse;
    border-spacing: 2px;
    width: 1650px;
 	text-align: -webkit-left;
}
td {
	border-bottom: solid;
	border-width: 1.5px;
}


